@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: hsl(217, 54%, 11%);
  min-height: 100vh;
}
.main {
  background: hsl(216, 50%, 16%);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 45%;
  border-radius: 15px;
}
.equilibrium {
  height: 300px;
  width: 300px;
  border-radius: 24px;
  padding: 0.4rem;
}
.text {
  margin: 1rem;
}
.equi-title {
  color: hsl(0, 0%, 100%);
}
.avatar-img {
  height: 50px;
  width: 50px;
}
